*{
    color: #100f16;
    font-family: Georgia;
}

#my-css-logo{
    background-color: #e70031;
}

#my-css-name{
    color: #d1e7e7;
}

#grean{
    color: #120e26;
}
#wite {
     color: #c7f4cd;
 }
.wite {
    color: #c7f4cd;
}

#my-css-title{
    font-size: 18pt;
    color: #2c255a;
}

body {
    background-color: #eceff4;
}